.ui.form {
    width: 40%;
    height: auto;
    margin: 7% auto
}

#form {
    margin-top: 1em;
}

#desc {
    word-wrap: break-word;
    resize: none;
}

#submit-form {
    margin: auto 35%;
    width: 30%;
}

.heading:first-child {
    margin-top: 2.5em;
    text-align: center;
}