#create-stream {
    width: 15%;
    margin: 4% 42.5%;
}

.ui.card {
    text-align: center;

    #video {
        box-shadow: none;
    }

    .image {
        .card-image {
            width: 100%;
            height: 30%;
            margin: auto;
        }
    }

    #placeholder-container {
        width: 100%;
        height: 30%;
        margin: auto;
        box-shadow: none;
        img {
            margin: 10%;
            width: 30%;
        }
    }
}

.ui.button {
    width: 6vw;
    vertical-align: middle;
}

.description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

