#logo {
    margin-right: 1em;
    width: 1.15em;
    height: 1.4em;
}

#nav {
    background-color: rgb(43, 116, 145);
    border-radius: 0;
}

#brand:hover {
    background: none;
    color: rgba(255, 255, 255, 0.9);
}

.user.circle.icon {
    font-size: 1.5rem;
}