#logo {
    margin-right: 1em;
    width: 1.15em;
    height: 1.4em;
}

#nav {
    background-color: rgb(43, 116, 145);
    -webkit-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.46);
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.46);
    border-radius: 0;
    margin-bottom: 0;
    height: 58px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

#brand:hover {
    background: none;
    color: rgba(255, 255, 255, 0.9);
}

.user.circle.icon {
    font-size: 1.5rem;
}

#hamburger {
    display: none;
    font-size: 150%;
    i {
        cursor: pointer;
    }
}

#hamburger:hover {
    background: none;
}

.ui.menu .item#hamburger:before {
    background: none;
}

@media only screen and (max-width: 768px) {
    #nav {
        #hamburger {
            display: inline-block;
        }
        .item:not(#brand):not(#hamburger){
            display: none;
        }
    }
}